<p>Eh aqui todas mis tareas!</p>

<div class="collapse navbar-collapse" id="js-navbar-collapse">

  <ul class="nav navbar-nav">
    <li><a ng-href="#/tarea2">Assignment 2</a></li>
    <li><a ng-href="#/tarea3">Assignment 3</a></li>
    <li><a ng-href="#/tarea5">Assignment 5</a></li>
    <li><a ng-href="#/tarea6">Assignment 6</a></li>
    <li><a ng-href="#/tarea7">Assignment 7</a></li>
  </ul>
</div>

<p>Por ahora, aqui mi primer tarea:</p>

<p>
  Assignment 1
<p>
</p>
</p>
<p>
  CC116 Cloud Computing
<p>
</p>
</p>
<p>
  Answer the following questions:
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  <strong>
    1. Read the following article http://martinfowler.com/articles/microservices.html
<p>
</p>
</strong>
</p>
<p>
  <strong>
    and explain what "Microservices Architecture" means 20 points.
<p>
</p>
</strong>
</p>
<p>
  (Did I just read the whole GOTO video? I ended up semi reading once I realized it on the 4<sup>th</sup> paragraph)
<p>
</p>
</p>
<p>
  A microservices architecture is a way to design software, basically it involves making the multiple parts of an app into modular pieces of software (I
  think modular might be the best word to describe microservices), this allows for multiple things, but mainly so that all these pieces or microservices can
  be used independently and upgraded independently and not the whole system. This can also extend to having multiple databases for multiple services,
  sometimes just copies of it, so they can all act independently. An important part of this is the communication between microservices, since microservices
  are to act in an independent way, their communication works in more of a RESTish way, doing requests and receiving responses from other microservices.
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  <strong>
    2. Explain each line of the cc499-setup.sh file. 20 points.
<p>
</p>
</strong>
</p>
<p>
  #!/bin/bash
<p>
</p>
</p>
<p>
  ^ First theres what they call a hashbang so the next lines are read with bash
<p>
</p>
</p>
<p>
  echo "Start. We are about to setup the environment for your Cloud Compting class. Excited?"
<p>
</p>
</p>
<p>
  echo ":) :) :) :) :) :) :) :) :) :) :) :) :) :)"
<p>
</p>
</p>
<p>
  ^echoes from the professor to the terminal to tell us whats going on :)
<p>
</p>
</p>
<p>
  cd $HOME
<p>
</p>
</p>
<p>
  ^Changes Directory to /home
<p>
</p>
</p>
<p>
  mkdir Projects
<p>
</p>
</p>
<p>
  mkdir .aws
<p>
</p>
</p>
<p>
  ^makes 2 folders (directories) called Projects and .aws
<p>
</p>
</p>
<p>
  cd .aws
<p>
</p>
</p>
<p>
  ^We go to .aws dir
<p>
</p>
</p>
<p>
  touch credentials
<p>
</p>
</p>
<p>
  ^creates empty file credentials
<p>
</p>
</p>
<p>
  cd ..
<p>
</p>
</p>
<p>
  ^we go back one dir (so back to home it is)
<p>
</p>
</p>
<p>
  sudo apt-get update
<p>
</p>
</p>
<p>
  ^with superuser privileges we go ahead and make apt know what are the current newest versions of packages that we already have installed (it does not
  upgrade them, apt-get upgrade does)
<p>
</p>
</p>
<p>
  (apt == advanced packaging tool)
<p>
</p>
</p>
<p>

<p>
</p>
</p>
<p>
  sudo apt-get install -f
<p>
</p>
</p>
<p>
  ^so this command seems to be for fixing problems with current packages regarding dependencies (-f == fix)
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  echo " **************** Installing git  **************** "
<p>
</p>
</p>
<p>
  sudo apt-get install git
<p>
</p>
</p>
<p>
  ^this literally installs git with apt-get install command after echoing us that this is going to happen
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  echo " **************** Installing NodeJs **************** "
<p>
</p>
</p>
<p>
  sudo apt-get install nodejs
<p>
</p>
</p>
<p>
  sudo apt-get install npm
<p>
</p>
</p>
<p>
  ^this literally installs nodejs and npm packages
<p>
</p>
</p>
<p>
  sudo ln -s /usr/bin/nodejs /usr/bin/node
<p>
</p>
</p>
<p>
  ^ Now this line links (symbolic link due to s command, which makes it similar to a shortcut, as it makes them both point to the same data) the node and
  nodejs executables
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  echo " **************** Installing AWS CLI **************** "
<p>
</p>
</p>
<p>
  ^More echoes for the terminal saying what the script is doing
<p>
</p>
</p>
<p>
  sudo apt-get -y install python-pip
<p>
</p>
</p>
<p>
  ^This is installing python-pip without my permission (-y == automatic yes) :(
<p>
</p>
</p>
<p>
  (I will thank Edgar Leal for actually helping me with the y)
<p>
</p>
</p>
<p>
  sudo pip install --upgrade pip
<p>
</p>
</p>
<p>
  ^This would upgrade our pip (a python written package manager system)
<p>
</p>
</p>
<p>
  sudo pip install awscli --ignore-installed six
<p>
</p>
</p>
<p>
  ^ Uses our pip to install the aws client, while ignoring already installed packages (in this case six)
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  echo " **************** Installing yeoman **************** "
<p>
</p>
</p>
<p>
  ^Echo " **************** Installing yeoman **************** "
<p>
</p>
</p>
<p>
  sudo npm install -g yo
<p>
</p>
</p>
<p>
  ^Using npm we are now installing yo (yeoman) in a glabal way (for global commands)
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  echo " **************** Installing grunt **************** "
<p>
</p>
</p>
<p>
  sudo npm install -g grunt-cli
<p>
</p>
</p>
<p>
  ^After echo, globally installs the grunt-cli (so its not really the grunt itself but it allows to run a version of grunt thats installed with a certain
  gruntfile, so you can like have multiple grunt versions)
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  echo " **************** Installing serverless **************** "
<p>
</p>
</p>
<p>
  sudo npm install -g serverless
<p>
</p>
</p>
<p>
  ^And we intall the serverless packages globally after an echo
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
<p>

</p>
</p>
<p>
  echo " **************** Installing dot net core **************** "
<p>
</p>
</p>
<p>
  sudo apt-get install curl libunwind8 gettext
<p>
</p>
</p>
<p>
  ^So this seems to install all 3 of them, curl, libunwind8 and gettext
<p>
</p>
</p>
<p>
  curl -sSL -o dotnet.tar.gz https://go.microsoft.com/fwlink/?LinkID=809130
<p>
</p>
</p>
<p>
  ^Curl being a tool to transfer data, we are using an SSL protocol (or trying to) so we get the output of the link into a dotnet.tar.gz file
<p>
</p>
</p>
<p>
  sudo mkdir -p /opt/dotnet &amp;&amp; sudo tar zxf dotnet.tar.gz -C /opt/dotnet
<p>
</p>
</p>
<p>
  ^This will (once again with superuser privileges, been skipping this as I want to think its obvious by this point) create a new directory /opt/dotnet (-p
  makes it so that if the path or part of it already exists, it only completes it) and then it will extract the contents of dotnet.tar.gz and place them in
  the /opt/dotnet directory (-C)
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  sudo ln -s /opt/dotnet/dotnet /usr/local/bin
<p>
</p>
</p>
<p>
  ^Lastly, it will make a symbolic link between the paths /opt/dotnet/dotnet and /usr/local/bin, for what I can guess is for easier access to the files we
  got in the last step.
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  <strong>
    3. Create a grunt task to deploy your website to your own bucket in S3. 30 points.
<p>
</p>
</strong>
</p>
<p>
  Assuming we already have a gruntfile.js and a package.json from scaffolding, we will add the aws module from the terminal with the following command inside
  the project folder:
<p>
</p>
</p>
<p>
  npm i grunt-aws-s3 --save-dev
<p>
</p>
</p>
<p>
  We can make sure it has been installed by checking that the module shows up in the package.json
<p>
</p>
</p>
<p>
  Now inside the gruntfile.js, we can add the aws settings inside the initconfig section:
<p>
</p>
</p>
<p>
  <br/>
  aws_s3: {
<p>
</p>
</p>
<p>
  options: {
<p>
</p>
</p>
<p>
  accessKeyId: 'key',
<p>
</p>
</p>
<p>
  secretAccessKey: 'key'
<p>
</p>
</p>
<p>
  },
<p>
</p>
</p>
<p>
  dist: {
<p>
</p>
</p>
<p>
  options: {
<p>
</p>
</p>
<p>
  bucket: successfulstudent'
<p>
</p>
</p>
<p>
  },
<p>
</p>
</p>
<p>
  files: [
<p>
</p>
</p>
<p>
  {
<p>
</p>
</p>
<p>
  expand: true,
<p>
</p>
</p>
<p>
  cwd: 'dist/',
<p>
</p>
</p>
<p>
  src: [ '**' ],
<p>
</p>
</p>
<p>
  dest: '/'
<p>
</p>
</p>
<p>
  }
<p>
</p>
</p>
<p>
  ]
<p>
</p>
</p>
<p>
  }
<p>
</p>
</p>
<p>
  }
<p>
</p>
</p>
<p>
  Now to create the task and to give it a name we create the grunt task
<p>
</p>
</p>
<p>
  grunt.registerTask( 'goaway', 'aws_s3:dist' );
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  Now we can just grunt build the project and the grunt goaway task should be available to use and deploy my website.
<p>
</p>
</p>
<p>
  BUT, since we want our keys to be read only for the upload, we can place them outside the gruntfile.
<p>
</p>
</p>
<p>
  Simply create a json file with content such as:
<p>
</p>
</p>
<p>
  {
<p>
</p>
</p>
<p>
  "AWSAccessKeyId": "key",
<p>
</p>
</p>
<p>
  "AWSSecretKey": "key"
<p>
</p>
</p>
<p>
  }
<p>
</p>
</p>
<p>
  And now to read it inside the gruntfile we can add in the initconfig:
<p>
</p>
</p>
<p>
  aws: grunt.file.readJSON( 'filewithkeys.json' ),
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  So we can now in the aws_s3 settings go like this:
<p>
</p>
</p>
<p>
  options: {
<p>
</p>
</p>
<p>
  accessKeyId: '&lt;%= aws.AWSAccessKeyId %&gt;',
<p>
</p>
</p>
<p>
  secretAccessKey: '&lt;%= aws.AWSSecretKey %&gt;'
<p>
</p>
</p>
<p>
  },
<p>
</p>
</p>
<p>
  And done, just remember to not upload to github the file with the keys!
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  <strong>
    4. Explain how routes work in angular and a code example. 10 points.
<p>
</p>
</strong>
</p>
<p>
  Routes in angular, specifically while using the ngRoute module are what allows an application to become a single page application despite having multiple
  views.
<p>
</p>
</p>
<p>
  To use it, all you have to do is add the ngRoute module inside the app.js and use the $routeProvider to specify which route goes to what view in your
  project, as wells as a possible controller if being used.
<p>
</p>
</p>
<p>
  angular
<p>
</p>
</p>
<p>
  .module('succesfulstudentApp', [
<p>
</p>
</p>
<p>
  'ngRoute'
<p>
</p>
</p>
<p>
  ])
<p>
</p>
</p>
<p>
  .config(function ($routeProvider) {
<p>
</p>
</p>
<p>
  $routeProvider
<p>
</p>
</p>
<p>
  .when('/about', {
<p>
</p>
</p>
<p>
  templateUrl: 'views/about.html',
<p>
</p>
</p>
<p>
  controller: 'AboutCtrl',
<p>
</p>
</p>
<p>
  controllerAs: 'about'
<p>
</p>
</p>
<p>
  })
<p>
</p>
</p>
<p>
  .otherwise({
<p>
</p>
</p>
<p>
  redirectTo: '/'
<p>
</p>
</p>
<p>
  });
<p>
</p>
</p>
<p>
  Where the when specifies which route is being used and redirects to the templateUrl, also specifies the controller and the file name where the controller
  is.
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
<p>

</p>
</p>
<p>
  <strong>
    5. Explain how you can have more than one access key in your computer and how to
<p>
</p>
</strong>
</p>
<p>
  <strong>
    use each one. Provide code or configuration examples. 10 points.
<p>
</p>
</strong>
</p>
<p>
  So first we need to add extra profiles in our credentials file, such as:
<p>
</p>
</p>
<p>
  [default]
<p>
</p>
</p>
<p>
  aws_access_key_id = ACCESS_KEY
<p>
</p>
</p>
<p>
  aws_secret_access_key = SECRET_KEY
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  [NotAdrian]
<p>
</p>
</p>
<p>
  aws_access_key_id = ACCESS_KEY
<p>
</p>
</p>
<p>
  aws_secret_access_key = SECRET_KEY
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  This way now if we use the aws s3 sync . s3://something  we can add - -profile NotAdrian we can use the other profile instead of default.
<p>
</p>
</p>
<p>
  Example:   aws s3 sync - -profile NotAdrian . s3://something
<p>
</p>
</p>
<p>
<p>

</p>
</p>
<p>
  <strong>
    6. Explain what are you going to do different this semester based on last semester
<p>
</p>
</strong>
</p>
<p>
  <strong>
    experience. 10 points.
<p>
</p>
</strong>
</p>
<p>
  ·         Start homework earlier (Saturday is a busy day for me)
<p>
</p>
</p>
<p>
  ·         Take all the notes
<p>
</p>
</p>
<p>
  ·         Sleep properly
<p>
</p>
</p>
<p>
  ·         Be more aware of time constraints
<p>
</p>
</p>
<body>

</body>
