<p>Assignment 5</p>
<p>CC116 Cloud Computing</p>
<p>Every answer of these questions should be in your S3 website with a link to the code in GitHub.</p>
<p>&nbsp;</p>
<ol>
  <li><strong> Create a web app to be able to get the weather of N cities at the same time. The list of cities are going to be text separated by commas and will connect to an end point that will trigger lambdas for each cities. 90 points.</strong></li>
</ol>
Write the cities: <input type="text" ng-model="cities">
<input type="button" ng-click="getMultiWeather()" value="Let's Go!">
<p>{{citiesWeather}}</p>
<p>&nbsp;</p>
SECURE cities: <input type="text" ng-model="cities">
<input type="button" ng-click="getWeather()" value="GetWeather">
<input type="button" ng-click="valid(true)" value="login">
<input type="button" ng-click="valid(false)" value="unlog">
<p>{{citiesWeather}}</p>


<p>&nbsp;</p>
<ol start="2">
  <li><strong> List the 3 main things you need to do in order achieve your professional goals. 10 points</strong></li>

  <p>1.Pick one profesional goal (for now at least)</p>

  <p>2.Have actual discipline</p>

  <p>3.Get more work experience on it</p>
</ol>
